body{
    background-color: rgb(240, 240, 240);
    font-family: ;
    
        hr {
            height: 2px;
            border-width: 0;
            color: #000000;
            background-color: #000000;
            margin: 3px;
        }        
    }

img.carouselcss{
    width: 50%; 
}

.carousel-inner{
    background-color: #000000;
}
 

.kartya{    
    text-align: center;
    p{
        text-align: start;        
    }
    .card-body{
        a{
            font-size: medium;
        }
    }
}



.imgback-height{
    min-height: 12rem;  
}

@media (max-width: 800px) {
    .carouselcss {
        display: none;
    }
}